<div class="footer">
  <div class="copywrite">&copy;2012 immedr</div>
  <div class="links">
    <%= link_to_unless_current("homepage", home_url, :class=>"borderl0") do
      ("<span class='cur borderl0'>homepage</span>").html_safe
    end %>
    <%= link_to_unless_current('about', about_url) do
      ("<span class='cur'>about</span>").html_safe
    end %>
  </div>
  <br clear="all" />
</div>
  

