<div class="listBox">
  <div class="listTitle">Create successful</div>
  <h3 class="pTitle"><<%=link_to "2012 如果你看过《维基经济学》应该很熟悉作者Don Tapscott（唐.泰普斯科特）....", "#", :target=>"_blank" %></h3>
  <p class="marginb60"><em>全文127字</em></p>

  <div class="listTitle">Related comments</div>
  <div class="relatedLink">
    <%=link_to "#TEDGlobal", "#", :class=>"tag0" :target=>"_blank" %>
    <samll>2 items</small>
  </div>        
  <%=link_to "Write", "#", :class=>"pWrite" %>
</div>
