      <table class="userTable">
        	<tbody>
            	<tr>
                	<td class="coll">User name or email</td>
                    <td class="colr"><input class="user-txt" type="text" /></td>
                </tr>
                <tr>
                	<td class="coll">Password</td>
                    <td class="colr"><input class="user-txt" type="text" /></td>
                </tr>
                <tr>
                	<td class="coll">&nbsp;</td>
                    <td class="colr">
                    	<div class="links"><span class="cur borderl0"><input class="user-check" type="checkbox" />Remember</span><br /><br />
                            <a href="#">Forgot your password?</a>
                        </div><br clear="all" />
                        <input type="submit" value="sign in" class="pDone" />                   
                    </td>
                </tr>
            </tbody>
        </table>
